{:paths
 ["src" "resources"]

 :deps
 ;; https://download.dremio.com/jdbc-driver
 {com.dremio.distribution/dremio-jdbc-driver {:local/root "./dremio-jdbc-driver-21.1.1-202204292111390812-57b1832f.jar"}}}